@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.collection-detail {
  padding: 2.5rem 1rem;
  @include display-flex(flex, column);
  gap: 3rem;
  &__block {
    @include display-flex(flex, column, normal, flex-start);
    gap: 1rem;
    width: 100%;
  }
  &__description {
    background-color: $color-secondary-gray;
    padding: 2rem 1rem;
    border-radius: 1rem;
    line-height: 1.5rem;
    width: 100%;
  }
}

.hero {
  @include display-flex(flex, column, normal, center);
  &__image {
    margin-top: 4rem;
    width: 100%;
  }
  &__text {
    padding: 1rem;
    text-align: left;
    align-self: flex-start;
  }
  &__status-group {
    @include display-flex(flex, row, space-between);
    width: 100%;
    padding: 0 1rem;
    gap: 1rem;
  }
  &__status {
    @include display-flex(flex, row);
    text-align: center;
    width: 100%;
    min-height: 70px;

    padding: 1rem;
    background-color: aliceblue;
    border-radius: 1rem;
  }
}
