@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.collection-detail {
  padding: 2.5rem 1rem;
  padding-bottom: 8rem;
  @include display-flex(flex, column);
  gap: 3rem;
  &__block {
    @include display-flex(flex, column, normal, flex-start);
    gap: 1rem;
    width: 100%;
  }
  &__description {
    background-color: $color-secondary-gray;
    padding: 2rem 1rem;
    border-radius: 1rem;
    line-height: 1.5rem;
    width: 100%;
  }
  &__gallery {
    width: 100%;
  }
  &__photo {
    width: 100%;
  }
}

.hero {
  @include display-flex(flex, column, normal, center);
  &__image {
    margin-top: 4rem;
    width: 100%;
  }
  &__main-info-group {
    @include display-flex(flex, row, space-between, normal);
    width: 100%;
  }
  &__text {
    padding: 1rem;
    text-align: left;
    align-self: flex-start;
  }
  &__button-group {
    @include display-flex(flex, row, normal, center);
    padding: 1rem;
  }
  &__status {
    width: 100%;
    padding: 1rem;
  }
  &__status-detail {
    @include display-flex(flex, row);
    text-align: center;
    width: 100%;
    min-height: 70px;
    border-radius: 1rem;
  }
}

@media (min-width: $tablet-width) {
  .collection-detail {
    padding: 3rem;
    padding-bottom: 12rem;
  }

  .hero {
    &__text,
    &__button-group,
    &__status {
      padding: 1rem 3rem;
    }
    &__button {
      width: 4rem;
    }
  }
}

@media (min-width: $desktop-width) {
  .collection-detail {
    @include display-flex(flex, row, normal, flex-start);
  }
}
