// Dimensions
$tablet-width: 768px;
$desktop-width: 1280px;

// Colors
$color-primary-green: #6ac15e;
$color-primary-red: #f96866;
$color-primary-blue: #01aae4;
$color-secondary-green: #e0f1e5;
$color-secondary-pink: #ffecea;
$color-secondary-blue: #e5f7fc;

// Box Shadow
$box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
