@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.container {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
}

.delete-modal {
  width: 90%;
  height: 60%;
  background-color: white;
  z-index: 2;
  position: relative;
  margin: auto;
  padding: 1rem;
  @include display-flex(flex, column, space-around);
  gap: 1rem;
  &__button-group {
    width: 100%;
    @include display-flex(flex, row);
    gap: 1rem;
  }
}
