@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.stats {
  padding: 1.5rem 1rem;
  padding-top: 6rem;
  width: 100vw;
  @include display-flex(flex, column, flex-end);
  gap: 1rem;
  &__text {
    @include display-flex(flex, row, space-between);
    width: 100%;
  }
  &__number {
    font-size: 4.5rem;
    font-weight: 900;
    color: $color-primary-blue;
  }
}

.search-sort-group {
  width: 100%;
  padding: 0 1rem;
  @include display-flex(flex, row);
  gap: 1rem;
  &__form {
    width: 100%;
    position: relative;
  }
  &__search-bar {
    width: 100%;
    border: none;
    border-radius: 4rem;
    background-color: $color-secondary-blue;
    padding: 1rem;
    padding-left: 2.5rem;
    &:focus {
      outline: 2px solid $color-primary-blue;
    }
  }
  &__search-icon {
    position: absolute;
    left: 1rem;
    top: 35%;
  }
  &__search-bar::placeholder {
    color: $color-primary-blue;
  }
}

.gallery {
  width: 100%;
  padding: 1rem;
  margin: auto;
  @include display-flex(flex, column);
  gap: 3rem;
  padding-bottom: 8rem;
}

.plant-card {
  box-shadow: $box-shadow;
  border-radius: 1rem;
  width: 100%;
  @include display-flex(flex, column);
  gap: 1rem;

  &__main {
    width: 100%;
    position: relative;
  }
  &__icons {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    @include display-flex(flex, row);
    gap: 0.5rem;
  }
  &__image {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  &__names {
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
  &__title,
  &__subtitle {
    text-decoration: none;
  }
  &__subtitle {
    text-align: center;
    padding-bottom: 1rem;
    color: black;
  }
}

@media (min-width: $tablet-width) {
  .stats {
    padding: 3rem;
    padding-top: 8rem;
    height: 30vh;
    @include display-flex(flex, column, center);
  }

  .search-sort-group {
    width: 100%;
    padding: 0 3rem;
    gap: 3rem;
  }

  .gallery {
    padding: 3rem;
    padding-bottom: 12rem;
    gap: 3rem;
    @include display-flex(flex, row, space-between);
    flex-wrap: wrap;
  }

  .plant-card {
    border-radius: 1rem;
    width: 46%;
    @include display-flex(flex, column);
    gap: 1rem;
  }
}
