@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.search-result {
  padding: 1.5rem 1rem;
  padding-bottom: 8rem;
  @include display-flex(flex, column, normal, flex-start);
  gap: 1rem;
  &__gallery {
    @include display-flex(flex, column, normal, flex-start);
    gap: 1rem;
  }
  &__card {
    @include display-flex(flex, row);
    gap: 1rem;
    width: 100%;
    box-shadow: $box-shadow;
    border-radius: 1rem;
  }
  &__image {
    width: 50%;
    border-radius: 1rem 0 0 1rem;
  }
  &__names {
    width: 50%;
    @include display-flex(flex, column, normal, flex-start);
    gap: 0.5rem;
  }
}

@media (min-width: $tablet-width) {
  .search-result {
    padding: 3rem;
    padding-bottom: 12rem;
    &__gallery {
      @include display-flex(flex, row, space-between);
      flex-wrap: wrap;
      gap: 1rem;
    }
    &__card {
      width: 30%;
      @include display-flex(flex, column, space-between, center);
      gap: 0.5rem;
    }
    &__image {
      width: 100%;
      border-radius: 1rem 1rem 0 0;
    }
    &__names {
      width: 100%;
      padding: 1rem;
      align-items: center;
      gap: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__title,
    &__subtitle {
      max-width: 13ch;
      overflow: hidden;
      text-overflow: ellipsis;
      width: fit-content;
    }
  }
}
