@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

@include font-face("Inter", 300, "Inter-Light.ttf");
@include font-face("Inter", 400, "Inter-Regular.ttf");
@include font-face("Inter", 700, "Inter-Bold.ttf");
@include font-face("Inter", 800, "Inter-ExtraBold.ttf");
@include font-face("Inter", 900, "Inter-Black.ttf");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

.label {
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  color: white;
}

.header {
  width: 100%;
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 2;
  height: 5rem;
  background-color: white;
  box-shadow: $box-shadow;
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: center;
  &__title {
    justify-self: center;
    position: absolute;
  }
  &__back-button {
    width: 3rem;
  }
}
input,
textarea,
select {
  font-size: 16px;
}

button {
  width: 100%;
  border-radius: 4rem;
  background-color: $color-primary-green;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  border: none;
  padding: 1rem;
}

.button--delete {
  background-color: $color-primary-red;
}

.button--cancel {
  border: 1px solid $color-primary-green;
  color: $color-primary-green;
  background-color: white;
}

@media (min-width: $tablet-width) {
  h1 {
    font-size: 3.5rem;
  }

  button {
    width: 50%;
    font-size: 1rem;
    padding: 2rem;
  }
}
